html {
    font-size: 16px;
}

body {
    margin: 0 15rem;
    /* border: 1px solid #323232;     */
}

p {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Proza Libre', sans-serif;
}

/* a {
    font-family: 'Open Sans', sans-serif;
} */

header {
    border-bottom: 1px solid #323232;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem;
}

.logo-image img{
    width: auto;
    height: 5rem;
}

.header-navigation .desktop {
    display: flex;
    justify-content: space-between;
}

.header-navigation .desktop li {
    list-style: none;
    margin-left: 3rem;
}

.header-navigation .desktop li a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #323232;
    text-decoration: none;
}

.header-navigation .mobile {
    display: none;
}

main {
    margin: 0 3rem;
}

#about-me {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 0 0;
}

#about-me .text-container {
    margin: 0 3rem 0 0;
}

#about-me .text-container h1 {
    margin-top: 1.5rem;
}

#about-me .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-me .image-container img {
    width: 15rem;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.text-container ul {
    list-style-type: square;
}

.text-container ul li a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #323232;
    text-decoration: none;
}

.skills-img img {
    height: 3rem;
    width: auto;
}

#skills ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

#contact {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 0 0;
    flex-direction: column;
}

#contact .text-container {
    margin: 0 3rem 0 0;
}

#contact .text-container h1 {
    margin-top: 1.5rem;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact form .diplay-row{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#contact form label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #323232;
    text-decoration: none;
    padding: 1rem 1rem 1rem 0;
}

#contact .small-form-container {
    width: 50%;
    display: flex;
    padding-right: 2rem;
    align-items: center;
    justify-content: left;
}

#contact .small-form-container input {
    flex-grow: 1;
    width: 0;
    min-width: 0;
    display: inline-block;
    height: 1rem;
}

#contact form .button{
    margin: 2rem 0;
    width: 10rem;
    font-weight: 600;
    padding: 0.2rem 0rem;
    font-size: 1rem;
    border: 2px solid #323232;
    border-radius: 5px;
    background-color: white;
}


@media only screen and (max-width: 1200px) {
    #about-me {
        flex-direction: column;
        /* justify-content: space-between;
        margin: 2rem 0 0 0; */
    }
    body {
        margin: 0 5rem;;
        /* border: 1px solid #323232;     */
    }
}

@media only screen and (max-width: 850px) {
    body {
        margin: 0;
        /* border: 1px solid #323232;     */
    }
}

@media only screen and (max-width: 700px) {
    .header-navigation .desktop li {
        list-style: none;
        margin-left: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .header-navigation .desktop {
        display: none;
    }

    .header-navigation .mobile {
        display: flex;
    }
    
    #dropdownBtn {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        color: #323232;
        text-decoration: none;
        border: 4px solid #323232;
        border-radius: 2px;
        /* position: relative; */
        padding: 0 1rem;
        /* list-style: none; */
    }

    /* .header-navigation .mobile li {
        list-style: none;
    } */

    .header-container {
        position: relative;
    }

    .dropdownBtnContent {
        position: absolute;
        background-color: white;
        width: 100%;
        left: 0;
        top: 100%;
        padding-left: 0rem;
        /* border-bottom: 1px solid #323232; */
    }

    .dropdownBtnContent {
        padding-left: 0rem;
    }

    .dropdownBtnContent li {
        margin: 0;
        border-bottom: 1px solid #323232;
        padding: 1rem 0;
        list-style: none;
    }

    .dropdownBtnContent li a {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        color: #323232;
        text-decoration: none;
        /* font-size: 1rem; */
    }

}